.loading {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: azure;
}

.error {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #c65252;
}

.select-list {
  width: 10rem;
  text-align: left;
}

.container {
  max-width: 100rem;
  color: #121512;
  background-color: #eceeec;
  text-align: center;
}

/* .modalsize {
  max-height: 80rem;

} */
