.loading {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: azure;
}

.error {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #c65252;
}

.select-list {
  width: 10rem;
  text-align: left;
}

.container {
  max-width: 60rem;
  color: #121512;
  background-color: #d8e8cf;
  text-align: center;
}
