.container {
  max-width: 60rem;
}

.intro {
  color: #f0e9e9;
  font-weight: bold;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.row {
  font-size: 16px;
  color: greenyellow;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
  display: grid;
  /* justify-content: flex-start; */
}

.bold-span {
  font-weight: bold;
  margin-right: 1rem;
}

.normal-span {
  margin-top: 0.5rem;
  color: #f0e9e9;
}

.subtasks {
  display: flex;
  flex-direction: column;
  gap:0.5rem
}

.subtasks li {
  list-style:square;
  display: flex;
  flex-direction: column;
}

.subtasks li .bold-span {
  color: #c5d482;
}
