.login-form {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.actions button {
  width: 60%;
  align-self: center;
}

.toggler,
.toggler:hover {
  background-color: transparent;
  margin-top: 1rem;
  border: none;
  padding: 0.15rem 1.5rem;
  color: #82b74b;
  outline: none;
}

.toggler:hover {
  color: #6f9c40;
}

.invalid {
  background-color: #f7cac9;
  border: 2px solid #f7cac9;
}

.actions button:disabled {
  background-color: #ccc;
  border: 1px solid #ccc;
}

.actions button:disabled:hover {
  background-color: #ccc;
  border: 1px solid #ccc;
  color: white;
}

.error {
  text-align: center;
  margin: 0;
  font-size: 0.75rem;
  color: #e06377;
  font-weight: bold;
}

@media (min-width: 40rem) {
  .login-form .email,
  .login-form .password {
    grid-template-columns: 20% 60%;
    justify-content: center;
    padding: 1rem;
  }

  .actions button {
    width: 30%;
    align-self: left;
  }
}
