.loading {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: azure;
}

.error {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #c65252;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  color: #121512;
  background-color: #eceeec;
  text-align: center;
  justify-content: center;
  padding:0.5rem
}

.account-table__header {
  background-color: #405d27;
  color: #f3f2f2;
  font-weight: bold;
}
