.loading {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: azure;
}

.error {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #c65252;
}
.container {
  display: flex;
  max-width: 50rem;
  color: #121512;
  background-color: #eceeec;
  text-align: center;
  justify-content: center;
}
