.dates {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

@media (max-width: 40rem) {
  .dates {
    flex-direction: column;
  }
}

.container {
  max-width: 50rem;
  /* color: #121512;
  background-color: #eceeec; */
  text-align: center;
}

.select {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
  /* margin: auto; */
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.select label {
  font: inherit;
  color: white;
  font-weight: bold;
}

.select select {
  font: inherit;
  width: 100%;
  padding: 0.25rem;
  outline: none;
  border: 1px solid #395322;
  border-radius: 6px;
}

.form {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-top: 1rem;
}

.actions button {
  padding: 0.75rem;
}

.loading {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #0f4646;
}

.error {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #c65252;
}

.display {
  display: flex;
  justify-content: space-between;
}

.results {
  width: 80%;
  margin: auto;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
  margin-top: 1rem;
  border: 1px solid #0f4646;
  border-radius: 8px;
  background-color: #b8d0c8d6;
  box-shadow: 2px 2px 5px 2px #ccc;
}
