.chart {
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60rem;
  border-radius: 4px;
  border: 2px solid rgb(5, 48, 5);
  /* overflow: scroll; */
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  box-shadow: 2px 2px 5px 2px #ccc;
}

.dates {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.date-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:0.25rem;
  justify-content: space-around;
  min-width: 15rem;
}

.date-select label {
  color:#2e431b;
  font-size: small;
}

.date-select .reactselect {
  min-width:70%;
  color:#2e431b;
  outline: #2e431b;
  font-size:small;
}

@media (max-width: 40rem) {
  .dates {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
  }

  .date-select {
    flex-direction: column;
  }

  .date-select label {
    font-size: smaller;
  }

  .date-select .reactselect {
    width:50%
  }
}



