* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", "Lato", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;

  /* height: 100vh;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "."
    "main"; */
  background-color: #f3efef;
}

.table__header {
  background-color: #405d27;
  color: #f3f2f2;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

.centered {
  margin:auto;
  width: 90%;
  text-align: center;
  margin-top:1rem;
  font: inherit;
  color:red;
  font-weight: bold;
}

.error {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #c65252;
}

.warning {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #e97f28;
}
