* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", "Lato", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;

  /* height: 100vh;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "."
    "main"; */
  background-color: #f3efef;
}
