.button {
  background-color: #fefbd8;
  border: 1px solid #fefbd8;
  margin-right: 8px;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 8px;
  color: #3e4444;
}

.button:hover {
  background-color: #3e4444;
  color: #fefbd8;
}

.button:disabled {
  cursor: not-allowed;
  color: rgb(196, 177, 177);
}
