.button-div {
  text-align: left;
  padding-left: 40px;
}

.button {
  font: inherit;
  border: 1px solid #4f005f;
  border-radius: 8px;
  background: #4f005f;
  color: beige;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
