.form-header {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  color: #002e94;
  border-bottom: 2px #002e94 solid;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
}

.form-header h2 {
  margin-bottom: 0.5rem;
}
