.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(185, 160, 47, 0.788);
  /* border-radius: 8px; */
  position: fixed;
  top: 0;
  left: 0;
  font-size: 12px;
  /* font-weight: bold; */
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navbar li {
  list-style-type: none;
  /* float: left; */
  border-right: 1px solid darkkhaki;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.logout {
  height: 100%;
  /* border-radius: 0; */
  float: right;
  background: transparent;
  color: beige;
  margin: 0;
}

.logout button {
  border-radius: 0;
}
