.logout {
  margin-left: 3rem;
  box-shadow: 2px 2px 2px #2b2e4a;
}

@media (max-width: 40rem) {
  .logout {
    margin-left: 1rem;
    width: 60%;
  }
}

.logout:hover {
  box-shadow: none;
}

.link-active {
  /* text-decoration: underline; */
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem whitesmoke solid;
}
